* {
    margin: 0; 
    margin-bottom: 0;
}

.html {
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.body {
    height: 100%;
    min-width: 400px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    display: block;
}

.okno_glowne {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.klasa1 {
    display: flex;
    align-items: center;
    padding: 6px;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
}

.podklasa1 {
    display: inline-block;
    flex-grow: 1;
}

.podklasa1_1 {
    min-width: auto;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    z-index: 986;
    height: 48px;
    color: black;
    position: relative;
    transition: box-shadow 250ms;
}

.prostokat1 {
    display: flex;
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    font: 13px/27px;
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
}

.prostokat1_1 {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
    color: black;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.gmail {
    display: inline-block;
    padding-left: 15px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.gmail a {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}

.grafika {
    display: inline-block;
    padding-left: 15px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.grafika a {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}

.prostokat1_2 {
    position: relative;
    float: right;
    line-height: normal;
}

.element1 {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.zaloguj {
    display: inline-block;
    position: relative;
    outline: none;
    background: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5%;
    margin-left: 8px;
    text-decoration: none;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

.klasa2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 290px;
    height: 200px;
    min-height: 92px;
}

.podklasa2 {
    height: 100%;
    margin-top: auto;
    max-height: 92px;
}

.podklasa2 img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.klasa3 {
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 160px;
    padding: 20px;
    height: 160px;
}

.podklasa3_1 {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

.wyszukiwarka {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

.prostokat3_1 {
    width: auto;
    flex: 1;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    
}

.box3_1 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.lupa {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.pole {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.klawiatura {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.klawiatura img {
    border-radius: 50%;
}

.prostokat3_2 {
    padding-top: 18px;
    height: 70px;
}

.szukaj {
    position: relative;
    display: inline-block;
    outline: none;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 37px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    vertical-align: middle;
}

.szczesliwy_traf {
    position: relative;
    display: inline-block;
    outline: none;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 37px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    vertical-align: middle;
}

.klasa4 {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 250px;
}

.klasa5 {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
}

.polska {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    font-family: arial,sans-serif;
}

.podklasa5 {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: arial,sans-serif;
}

.a {
    text-decoration: none;
    font-size: 14px;
    font-family: arial,sans-serif;
}

.a .napis {
    color: #70757a;
}

.napis {
    display: block;
    padding: 15px;
    white-space: nowrap;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
}

.czesc_lewa {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}

.czesc_srodkowa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
}

.srodek {
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

.srodek img {
    height: 14px;
    margin-right: 6px;
}

.span1 {
    white-space: nowrap;
    vertical-align: top;
}

.czesc_prawa {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    display: flex;
    flex-wrap: wrap;
}