.results * {
    margin: 0; 
    margin-bottom: 0;
}

.results .html {
    height: 100%;
    min-width: 400px;
    font-family: arial,sans-serif;
}

.results .body {
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0;
    background: #fff;
    color: #202124;
}

.results .header {
    display: flex;
    min-width: 1261px;
    z-index: 128;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fff;
    height: 69px;
    left: 0;
    align-items: flex-end;
    margin-top: 0px;
}

.results .logo {
    padding: 0px 28px 10px 30px;
    cursor: pointer;
    margin-bottom: -2px;
}

.results .search{
    position: relative;
    margin: 0 auto;
    margin-left: 10px;
    height: 47px;
    width: 670px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    bottom: 5px;
}

.results .searchbox {
    flex: 1;
    display: flex;
    padding: 0 5px;
}

.results .input_box {
    display: flex;
    flex: 1;
    color: transparent;
    padding-left: 10px;
}

.results .enter {
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.results .box_s {
    display: flex;
    flex: 0 0 auto;
    margin-top: -6px;
    align-items: stretch;
    flex-direction: row;
}

.results .symbol_x {
    padding-right: 4px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
}

.results .symbol_x img {
    margin-top: 5px;
}

.results .keyboard {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.results .keyboard img {
    margin-top: 8px;
    margin-left: -10px;
}

.results .line {
    border-left: 1px solid #dfe1e5;
    height: 65%;
    margin-top: 8px;
}

.results .glass {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-right: 10px;
    padding-top: 6px;
}

.results .glass img {
    border-radius: 50%;
    margin-right: -15px;
    margin-top: 3px;
}

.results .left_box {
    display: flex;
    float: right;
    padding-left: 32px;
    justify-content: flex-end;
    box-sizing: border-box;
    line-height: normal;
    padding: 0 4px;
}

.results .l_box {
    display: flex;
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
}

.results .element_1 {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    cursor: pointer;
}

.results .element_2 {
    display: inline-block;
    position: relative;
    outline: none;
    background: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5%;
    margin-left: 4px;
    margin-top: -1px;
    text-decoration: none;
    margin-right: 20px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    box-sizing: border-box;
}

.results .element_2 a {
    color: #ffffff;
    text-decoration: none;
}

.results .top {
    color: #70757a;
    font-size: 13px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    z-index: 126;
    height: 63px;
    margin-top: 65px;
}

.results .top_all {
    float: left;
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 170px;
}

.results .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    cursor: pointer;
}

.results .buttons a {
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: 13px;
    padding-top: 2px;
}

.results #wszystko {
    border-bottom: 3px solid #1a73e8;
    margin-top: 2px;
}

.results #wszystko a {
    color: #1a73e8;
}

.results #wiadomosci img {
    padding-bottom: 8px;
}

.results #grafika img {
    padding-bottom: 7px;
}

.results #wideo img {
    padding-bottom: 6px;
}

.results #mapy img {
    padding-bottom: 8px;
    padding-right: 2px;
}

.results #wiecej img {
    padding-bottom: -1px;
}

.results .main_results {
    position: relative;
    margin-top: 0px;
    clear: both;
}

.results #center {
    clear: both;
    position: relative;
    margin-right: 264px;
    margin-left: 180px;
    width: 652px;
}

.results .result_number {
    padding-top: 15px;
    padding-bottom: 10px;
}

.results .result_number a {
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.results .all_results {
    font-size: medium;
    font-weight: normal;
    border: 0;
    margin: 0;
}

.results #res_2 {
    margin-top: 6px;
}

.results .main_class {
    margin-bottom: 40px;
}

.results .result {
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    width: 600px;
    margin-top: 0;
    margin-bottom: 28px;
}

.results .rs {
    position: relative;
}

.results .rs_up {
    font-weight: normal;
    font-size: small;
    line-height: 1.58;
}

.results #rs_up_a {
    color: #1a0dab;
    text-decoration: none;
}

.results .rs_up_h3 {
    padding-top: 24px;
    display: inline-block;
    margin-bottom: 3px;
}

.results #triangle {
    text-decoration: none;
    color: #4d5156;
    font-size: 10px;
}

.results h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.3;
}

.results .rs_up_2 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding-bottom: 1px;
    padding-top: 1px;
}

.results cite {
    color: #202124;
    font-style: normal;
}

.results .web {
    padding-top: 1px;
    font-size: 14px;
    line-height: 1.3;
}

.results .web_2 {
    color: #5f6368;
    white-space: nowrap;
}

.results .rs_down {
    max-width: 48em;
    color: #4d5156;
    line-height: 1.58;
}

.results em {
    color: #5f6368;
    font-weight: bold;
    font-style: normal;
}

.results .rs_down_span {
    line-height: 1.58;
    word-wrap: break-word;
    color: #4d5156;
}

.results .opinion {
    color: #70757a;
}

.results .a_blue {
    color: #1a0dab;
    text-decoration: none;
}


.results .rs_question {
    color: #4d5156;
    font-size: 14px;
    line-height: 20px;
}

.results hr {
    color: #4d5156;
    font-size: 14px;
    line-height: 20px;
    height: 1px;
    margin-top: 8px;
    border: 0;
    margin: 0;
}

.results .opinion_stars {
    background-size: 13px 12px;
    height: 13px;
    top: 1px;
    width: 65px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmCAQAAAAYCMGrAAAA+klEQVR4AcWV4cbtMBBFF0MIVUopoVSrhDDv/3gf/RFRpzdNOty1HiBO99mzeYWgCMZMKCPGrCgrxiSUhCkDeukxJKCXAUMiehkxw6FZhxEzmp0x4kCzByYISqlYdal0supS6WrVpdLEK0YSamJiJOPY0c/uOG4s6CcXfuKJaJcRzyNCQJsNiF1sRTR1hP11NNJ8RCrONOPRf+r7J+TZgQ5CNfMOYvW/2YxDqzqA/57+gVY9eiakrnyZEGXDsaE3p/4JScwPX3rtnZATDxnPWT7X16XAHaH8HWNrlxJD9TyGti5tCM84zpZe+RxNjeX9tZqLaGoMxN/P/wHP5Vw+8ZxnEQAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.results .stars_yellow {
    width: 53px;
    background-size: 13px 12px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmBAMAAABALxQTAAAAFVBMVEVMaXH4twP4twP4twP4twP4twP4twP7w8S/AAAAB3RSTlMAFv5uPpvQloUsTQAAAMFJREFUeAGE0TEOgzAMQFEXoDNiYC6/wFxxAsTADDkB5f6HqNRENXUi8TYiRfnY8lNXkjBOkuBWSeAhsYJOYiW9xO4MEqshkTbCSyIH7GLdgFasHHgmwkikZQD6OROZRG4Hxju8o/TNhbNhCqkOxaZDVKdxNnq/EjUS/A2o0PuXpyVeb9bjDWY9QSWXDQfBbtbjtWY9bM4sqfx+5yYt8wNcAFEzrGGkk5668KsFrKewPtQ3aFqh8WOnYZ+lIBQkgykAWk8rlAqcHfQAAAAASUVORK5CYII=);
    background-repeat: repeat-x;
    display: block;
}

.results .stars_yellow_2 {
    width: 66px;
    background-size: 13px 12px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmBAMAAABALxQTAAAAFVBMVEVMaXH4twP4twP4twP4twP4twP4twP7w8S/AAAAB3RSTlMAFv5uPpvQloUsTQAAAMFJREFUeAGE0TEOgzAMQFEXoDNiYC6/wFxxAsTADDkB5f6HqNRENXUi8TYiRfnY8lNXkjBOkuBWSeAhsYJOYiW9xO4MEqshkTbCSyIH7GLdgFasHHgmwkikZQD6OROZRG4Hxju8o/TNhbNhCqkOxaZDVKdxNnq/EjUS/A2o0PuXpyVeb9bjDWY9QSWXDQfBbtbjtWY9bM4sqfx+5yYt8wNcAFEzrGGkk5668KsFrKewPtQ3aFqh8WOnYZ+lIBQkgykAWk8rlAqcHfQAAAAASUVORK5CYII=);
    background-repeat: repeat-x;
    display: block;
}

.results .data {
    line-height: 1.58;
    word-wrap: break-word;
}

.results .rs_question_element {
    padding-right: 24px;
    border-bottom: 1px solid #ebebeb;
    padding: 8px 0 8px;
    cursor: pointer;
}

.results .rs_question_element_img {
    color: rgba(0,0,0,.87);
    font-size: 14px;
    left: 64px;
    margin-bottom: -8px;
    cursor: pointer;
}

.results .rs_question_element_img img {
    line-height: 36px;
    margin-bottom: -10px;
}

.results #zdj1 {
    line-height: 36px;
    margin-bottom: -10px;
    margin-left: 205px;
}

.results #zdj2 {
    line-height: 36px;
    margin-bottom: -10px;
    margin-top: -8px;
    margin-left: 260px;
}

.results #zdj3 {
    line-height: 36px;
    margin-bottom: -10px;
    margin-top: -8px;
    margin-left: 127px;
}

.results .bottom {
    margin: 0;
}

.results .research {
    font-family: arial,sans-serif;
}

.results .research_h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #202124;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 8px;
}

.results .similar_research {
    font-family: Google Sans,arial,sans-serif !important;
}

.results .elements {
    margin-left: -8px;
    margin-right: -8px;
    padding: 12px 0 0 0;
}

.results .elements_division {
    display: flex;
}

.results .columns {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: arial,sans-serif;
}

.results .columns_el {
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    margin: 4px 8px;
    max-height: none;
    min-height: 48px;
    padding: 0 17px;
    position: relative;
    text-decoration: none;
}

.results .columns_el_1 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 4px;
    height: 20px;
    padding: 10px;
    width: 20px;
}

.results .columns_el_2 {
    color: #202124;
    flex: 1;
    font-size: 16px;
    margin: 0 0 0 16px;
    max-width: 227px;
    overflow-wrap: break-word;
    overflow: hidden;
    font-family: arial,sans-serif;
}

.results .google_next {
    display: flex;
    padding-bottom: 26px;
    padding-top: 30px;
}

.results .list {
    list-style: none;
    color: #4285f4;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.results table {
    font-family: arial,sans-serif;
    text-align: center;
    letter-spacing: -0.07em;
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.results td {
    padding: 0;
    text-align: center;
    background-position: -24px 0;
    background-size: 167px;
    width: 20px;
    overflow: hidden;
    height: 40px;
}

.results .blue {
    color: #4285f4;
}
  
.results .red {
    color: #EA4335;
}
  
.results .green {
    color: #34A853;
}
  
.results .yellow {
    color: #FBBC05;
}

.results .number {
    font-size: 12px;
    color: #4285f4;
    letter-spacing: normal;
    text-align: center;
}

.results #next_symbol {
    color: #4285f4;
    font-weight: normal;
    font-size: 24px;
}

.results .footer {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
}

.results .footer_1 {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: arial,sans-serif;
    text-decoration: none;
    padding-left: 160px;
    border-bottom: 1px solid #dadce0; 
    line-height: 15px;
}

.results .poland {
    padding: 15px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    font-family: arial,sans-serif;
}

.results .location {
    display: inline-block;
    padding-left: 16px;
    border-left: 1px solid #dadce0;
    padding: 15px;
    font-size: 14px;
    line-height: 15px;
    color: #70757a;
    font-family: arial,sans-serif;
}

.results .footer_2 {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: arial,sans-serif;
    text-decoration: none;
    padding-left: 160px;
}

.results .a {
    text-decoration: none;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-decoration: none;
}

.results .a .word {
    color: #70757a;
    text-decoration: none;
}

.results .word {
    display: block;
    padding: 15px;
    white-space: nowrap;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    text-decoration: none;
}

.results .footer_2_down {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
    text-decoration: none;
}

.results #krk {
    color: #3c4043;
    font-weight: bold;
    font-size: 14px;
}

.results #location_desc {
    cursor: pointer;
    text-decoration: none;
    color: #70757a;
}

.results .okno_glowne {
    display: none;
}
